.header {
    height: 120px;
    background-image: linear-gradient(to bottom, #f53d2d 0%, #fe6532 100%);
}

.header_navbar {
    display: flex;
    justify-content: space-between;
}

.header_navbar-list {
    list-style: none;
    padding-left: 0;
}

.navbar-item {
    margin: 0 8px;
    position: relative;
}

.navbar-item,
.header_navbar-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    position: relative;
}

.navbar-item:hover,
.header_navbar-link:hover {
    color: hsla(0, 0%, 100%, .7);
    cursor: pointer;
}

.navbar-item-separator::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 14px;
    background-color: #fa735d;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.no-pointer {
    cursor: default;
    pointer-events: none;
}

.nav-icon {
    display: inline-flex;
    color: var(--white-color);
    font-size: 1.4rem;
    margin-right: 8px;
}

/* Header QR */
.header_qr {
    width: 184px;
    height: 250px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 200%;
    border-radius: 3px;
    display: none;
}

.header_qr::before {
    position: absolute;
    width: 60%;
    height: 30px;
    left: -10px;
    top: -30px;
    content: "";
    display: block;
}

.navbar-item-qr:hover .header_qr {
    animation: fadein 0.3s ease-in-out;
    display: block;
}

.header_qr-img {
    width: 100%;
}

.header_qr-store {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header_qr-store-img {
    margin-top: 4px;
    height: 18px;
}

/* Header notify */
.header_notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    flex-direction: column;
    display: none;
}

.nav-notify:hover .header_notify {
    animation: zoominfromtop 0.3s ease-in-out;
    display: flex;
}

.nav-notify:hover .header_navbar-link {
    color: hsla(0, 0%, 100%, .7);
}

.notify-header {
    width: 400px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notify-user-img {
    width: 100px;
    height: 100px;
}


.notify-caption {
    margin-top: 20px;
    color: var(--black-color);
}

.notify-footer {
    display: flex;
    justify-content: space-around;
}

.notify-btn {
    border: none;
    padding: 10px;
    width: 50%;
    font-weight: 300;
    display: flex;
    justify-content: center;
    background-color: #d3d3d357;
    color: var(--black-color);
    cursor: pointer;
}

.notify-btn:hover {
    color: red;
    background-color: #d3d3d3;
}

/* Header notify */
.header_language {
    position: absolute;
    top: 100%;
    right: -20px;
    width: 200px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    flex-direction: column;
    display: none;
}

.header_language-item {
    text-decoration: none;
    color: var(--black-color);
}

.nav-language:hover .header_language {
    animation: zoominfromtop 0.3s ease-in-out;
    display: flex;
}

.header_language-caption:hover {
    color: red;
}