.header {
    height: 120px;
    background-image: linear-gradient(to bottom, #f53d2d 0%, #fe6532 100%);
}

.header_navbar {
    display: flex;
    justify-content: space-between;
}

.header_navbar-list {
    list-style: none;
    padding-left: 0;
}

.navbar-item {
    margin: 0 8px;
    position: relative;
}

.navbar-item,
.header_navbar-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    position: relative;
}

.navbar-item:hover,
.header_navbar-link:hover {
    color: hsla(0, 0%, 100%, .7);
    cursor: pointer;
}

.navbar-item-separator::after {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 14px;
    background-color: #fa735d;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.no-pointer {
    cursor: default;
    pointer-events: none;
}

.nav-icon {
    display: inline-flex;
    color: var(--white-color);
    font-size: 1.4rem;
    margin-right: 8px;
}

/* Header QR */
.header_qr {
    width: 184px;
    height: 220px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 200%;
    border-radius: 3px;
    display: none;
    z-index: 999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header_qr::before {
    position: absolute;
    width: 60%;
    height: 30px;
    left: -10px;
    top: -30px;
    content: "";
    display: block;
}

.navbar-item-qr:hover .header_qr {
    animation: fadein 0.3s ease-in-out;
    display: block;
}

.header_qr-img {
    width: 100%;
}

.header_qr-store {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header_qr-store-img {
    margin-top: 4px;
    height: 18px;
}

/* Header notify */
.header_notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    flex-direction: column;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    will-change: opacity, transform;
    z-index: 999;
}

.header_notify::before {
    content: "";
    border-bottom: 10px solid rgb(255, 255, 255);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    bottom: 345px;
    position: absolute;
    right: 12px;
    top: -20px;
}

.nav-notify:hover .header_notify {
    animation: zoominfromtopright 0.2s ease-in-out;
    display: flex;
}

.nav-notify:hover .header_navbar-link {
    color: hsla(0, 0%, 100%, .7);
}

.notify-header {
    width: 400px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notify-user-img {
    width: 100px;
    height: 100px;
}


.notify-caption {
    margin-top: 20px;
    color: var(--text-color);
}

.notify-footer {
    display: flex;
    justify-content: space-around;
}

.notify-btn {
    border: none;
    padding: 10px;
    width: 50%;
    font-weight: 300;
    display: flex;
    justify-content: center;
    background-color: #d3d3d357;
    color: var(--text-color);
    cursor: pointer;
}

.notify-btn:hover {
    color: red;
    background-color: #d3d3d3;
}

/* Header notify */
.header_language {
    position: absolute;
    top: 100%;
    right: -20px;
    width: 200px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    display: none;
    flex-direction: column;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    will-change: opacity, transform;
}

.header_language::before {
    content: "";
    border-bottom: 10px solid rgb(255, 255, 255);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    position: absolute;
    right: 50px;
    top: -6px;
}

.header_language-item {
    text-decoration: none;
    color: var(--text-color);
}

.nav-language:hover .header_language {
    animation: zoominfromtop 0.2s ease-in-out;
    display: flex;
}

.header_language-caption {
    color: var(--text-color);
}

.header_language-caption:hover {
    color: red;
}

/* Logo, searchbar and cart */
.header_search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.header_logo {}

.header_logo-link {}

.header_logo-img {
    height: 50px;
}

.header_search {}

.header_search-bar {
    width: 840px;
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header_search-input {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.4rem;
    z-index: 1;
}

.header_search-btn {
    border: var(--white-color) solid 3px;
    width: 60px;
    height: 40px;
    font-size: 1.4rem;
    color: var(--white-color);
    background-color: #fb5533;
}

.header_cart {
    width: 138px;
    height: 59px;
    font-size: 2rem;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart_list {
    float: right;
    margin-top: -14px;
    margin-right: 120px;
    width: 400px;
    height: 260px;
    background-color: var(--white-color);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.cart_list::before {
    content: "";
    border-bottom: 20px solid rgb(255, 255, 255);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    bottom: 345px;
    position: absolute;
    right: 131px;
    top: 84px;
}

.cart-icon {
    color: var(--white-color);
}

.cart_list-caption {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
}

.cart_list-img {
    width: 100px;
    height: 100px;
}